.navbar{
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    width: auto;
    /* background-image :url('https://vedabase.io/static/img/header-bg.jpg'); */
    height: 75px;
    align-items: center;
    font-size: large;
    font-weight: 500;
    font-style: oblique;
    position: sticky;
    top: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.navbar div:nth-child(1){
    font-size: larger;
}

.options{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 50%;
}
#ham_icon{
    display: none;
}


@media screen and (max-width: 900px) {
    .navbar{
        width: auto;
    }
    .options{
        display: none;
    }
    /* #name{
        margin-right: 70%;   
    } */
    #ham_icon{
        display:contents;
    }

}

@media screen and (max-width: 600px) {
    .options{
        display: none;
    }
    #name{
        margin-right: 50%;   
    }
    #ham_icon{
        display:contents;
    }

}
